.app-container {

  width: 100%;
  min-height: 100vh;

}
@media (max-width: 768px) {
  .app-container {
    padding: 0;
  }
}
.main-content{


  background-color: #dfe2e1;
  width: 100%;
  min-height: 80vh;
  
}